<div class="container-fluid">
  <div class="row">
    <div class="header">
      <button id="refreshButton" class="btn">Refresh</button>
      <button id="clearButton" class="btn">Clear</button>
      <div class="col-s-6" id="uneaten-box">
        {{#each uneaten}}
          <div class="burger-wrap col-sm-6 col-lg-4 " data-id="{{this.id}}" >
            <div class="thumb"v>
              <a href="">
                <span class="burger-text">{{this.burger_name}}</span>
                <img src="/assets/img/good_burger.png" class="uneaten-burger" alt="Good Burger">
              </a>
            </div>
          </div>
        {{/each}}
      </div>
      <div id="eaten-box">
        {{#each eaten}}
          <div class="burger-wrap col-sm-6 col-lg-4">
            <span data-id="{{this.id}}" class="burger-text">{{this.burger_name}}</span>
            <img src="/assets/img/gone_burger.png" class="eaten-burger" alt="Gone Burger">
          </div>
        {{/each}}
      </div>
      <div class="input-box">
        
      </div>
    </div>
  </div>
</div>